{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <div style = "padding: 10px; display:inline-block; margin-left: 80%; border-style: solid; border-width: 1px; border-radius: 5px; border-color: #e7e7e7; background-color: #f8f8f8;">
        Cash on Hand: {{ cash }}
    </div>
    <form action="{{ url_for('sell') }}" method="post">
        Symbol:
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Ex. AAPL" type="text" required="required" pattern="[A-Za-z\d.-]+" title="E.G. AAPL, BRK-B, HM-B.ST, 005930.KS"/>
        </div>
        {% if show == 0 %}
        <p style="color: red">Stock doesn't exist</p>
        {% endif %}
        {% if show is string %}
        <p style="color: red">No stock in {{ show }}</p>
        {% endif %}
        Number of Shares:
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="sharenum" placeholder="Ex. 10" type="text" required="required" pattern="^[1-9][0-9]*$" title="Must be Positive Integer"/>
        </div>
        {% if show == 1 %}
        <p style="color: red">Input exceeds stocks owned...</p>
        {% endif %}
        <div class="form-group">
            <button class="btn btn-default" type="submit">Sell</button>
        </div>
        {% if show is mapping %}
        <p style="color: blue">You have sold {{ show["sharenum"] }} share/s in {{ show["name"] }}<br>Enjoy!</p>
        {% endif %}
    </form>
{% endblock %}